.search-section {
  /* background-image: url("http://static.wixstatic.com/media/c98ce3_28d6e5e…~mv2.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 177px; */
  height: 150px;
  padding: 70px 0 0 20px;
}
.search-bar-wrapper {
  /* margin: 20px 0; */
}
.search-bar {
  width: 60%;
  line-height: 30px;
  padding: 0 5px;
}
.glyphicon {
  font-size: 1.5em;
  padding-right: 10px;
  top: 5px;
}
